version: "3.9"
services:
  catalog:
    build:
      context: .
      dockerfile: ./catalog/Dockerfile
    environment:
      ENV: prod
    ports:
      - "8001:8000"
    volumes:
      - ./catalog:/app/catalog
    depends_on:
      - catalog_db

  catalog_db:
    image: postgres:18
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: catalog_db
    volumes:
      - catalog-db-data:/var/lib/postgresql

  inventory:
    build:
      context: .
      dockerfile: ./inventory/Dockerfile
    environment:
      ENV: prod
    ports:
      - "8002:8000"
    volumes:
      - ./inventory:/app/inventory
    depends_on:
      - inventory_db

  inventory_db:
    image: postgres:18
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: inventory_db
    volumes:
      - inventory-db-data:/var/lib/postgresql

  vendors:
    build:
      context: .
      dockerfile: ./vendors/Dockerfile
    environment:
      ENV: prod
    ports:
      - "8003:8000"
    volumes:
      - ./vendors:/app/vendors
    depends_on:
      - vendors_db

  vendors_db:
    image: postgres:18
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: vendors_db
    volumes:
      - vendors-db-data:/var/lib/postgresql

  marketplace:
    build:
      context: .
      dockerfile: ./marketplace/Dockerfile
    environment:
      ENV: prod
    ports:
      - "8004:8000"
    volumes:
      - ./marketplace:/app/marketplace
    depends_on:
      - marketplace_db

  marketplace_db:
    image: postgres:18
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: marketplace_db
    volumes:
      - marketplace-db-data:/var/lib/postgresql
  
  queues:
    image: rabbitmq:4-management
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: user
    ports:
      - "15672:15672"
    volumes:
      - queue-data:/var/lib/rabbitmq

volumes:
  catalog-db-data:
  inventory-db-data:
  vendors-db-data:
  marketplace-db-data:
  queue-data:
