* {
  margin: 0;
  font-weight: 400;
}

body {
  padding-bottom: 16px;
}

:root {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.container {
  max-width: calc(min(768px, 100% - 4rem));
  margin-left: auto;
  margin-right: auto;
}

button {
  border: 2px solid black;
  background: white;
  box-shadow: #0007 1px 2px 0px 1px;

  border-radius: 6px;
  margin: 4px 0;
  padding: 4px 8px;

  &:hover {
    background: #eee;
  }

  &:active {
    background: #eee;
    box-shadow: inset #0007 1px 1px 0px 1px;
    translate: 1px 2px;
  }
}
