header {
  background-color: white;
  border-bottom: 4px double black;
  padding: 16px 0;
  margin-bottom: 16px;

  & nav {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
  }
}

header a {
  color: black;
}
