.product-stock-listing {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-flow: row nowrap;
}

.product-stock-listing form {
  flex-flow: row wrap;
  gap: 8px;

  & input {
    border-radius: 6px;
    max-height: 100%;
  }
}

.product-details > button {
  margin: 0 auto;
  display: block;
}
