dialog {
  margin: auto auto;
}

.product-listing > button {
  margin: 0 auto;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li + li {
  border-top: 1px dotted black;
}
